@font-face {
    font-family: "Montserrat-Bold";
    font-display: swap;
    src: url("./Montserrat-Bold.woff2") format("woff2"), url("./Montserrat-Bold.ttf") format("ttf");
}

//600
@font-face {
    font-family: "Montserrat-SemiBold";
    font-display: swap;
    src: url("./Montserrat-SemiBold.woff2") format("woff2"), url("./Montserrat-SemiBold.ttf") format("ttf");
}

@font-face {
    font-family: "OpenSans-Bold";
    font-display: swap;
    src: url("./OpenSans-Bold.woff2") format("woff2"), url("./OpenSans-Bold.ttf") format("ttf");
}

@font-face {
    font-family: "OpenSans-Regular";
    font-display: swap;
    src: url("./OpenSans-Regular.woff2") format("woff2"), url("./OpenSans-Regular.ttf") format("ttf");
}
