/* Breakpoints */
$desktop-width: 1170px; // max-width
$half-desktop-width: 1000px; //1250px
$tablet-width: 900px; //1060px
$mobile-width: 740px; //920px
$half-mobile-width: 350px; // 740px


$main-color: #41426D;
$font-color: #4B4B4B;
$soft-font-color: #7D7D7D;
$accent-color: #EA7F1E;
$text-color: #2D2D2D;
$bac-color: #F8F8F8;
$links-color: #5D5FBA;